.left-panel {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 260px;
    overflow-x: hidden;
    background-color: #3f0e40;
    color: white;
  }

.right-panel {
    margin-left: 260px;
  }
