.selected {
    background-color: #1164a3;
  }

  .user {
    padding: 10px;
  }

  .description {
    display: inline-block;
  }

  .status {
    color: #92959e;
  }

  .new-message {
    color: white;
    background-color: red;
    width: 15px;
    border-radius: 5px;
    text-align: center;
    float: right;
    /* margin-top: 10px; */
  }
